
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    
}


.container {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    height: 600px;
    width: 600px;
    background-color: black;
}

.items {
    background-color: blue;
    flex-shrink: 0;
    flex-grow: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
    
}



/*.items.colour {
    background-color: red;
   opacity: 1;
}*/

.button {
    
    background-color: beige;
    border-radius: 10px;
    color: blue;
    margin-left: 20px;
}

.button:hover {
    background-color: bisque;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
    
}

